<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Edit Review</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>
<body class="container">
<form method="post">
    <label th:for="comment">Update Comment</label>
    <input type="text" th:field="${comment.input}"/>
    <input type="submit" value="Submit">
</form>
<form>
    <a th:href="@{'/reviews/delete/' + ${comment.id}}"> DELETE POST</a>
</form>
</body>
</html>