<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Submit Review</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>

<header>
    <a th:href="@{/}"><button>🌲 Home</button></a>
</header>

<body class="container">
<h1>Submit Park Review</h1>
<form method="post">
    <label th:for="comment">Comment</label>
    <input th:field="${comment.input}"/>
    <div>
        <h2>Park Rating out of 5</h2>
    <ul>
        <li th:each="score : ${review.options}">
            <label th:text="${score}"></label>
            <input type="radio" th:field="${review.review}" th:value="${score}"/>
        </li>
    </ul>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>