<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Create Blog</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>

<body class="container">
<h1>Submit Park Review</h1>
<form method="post">
    <label th:for="blog">Submit Blog Post</label>
    <input type="text" th:field="${blog.blogPost}"/>
    <input type="submit" value="Submit">
</form>
</body>
</html>