<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Blog View</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>

<header>
    <a th:href="@{/}"><button>🌲 Home</button></a>
</header>

<body class="container">

<h1>Park Blog Of:</h1>
<h1 th:text="${park.fullName}"></h1>

<div th:each="blog : ${park.blogs}">
    <article>
        <p th:text="${blog.blogPost}" style=" word-break: break-all;"></p>
        <p th:text="${blog.author.username}"></p>
        <div th:if="${blog.author.username == currentUser.username}">
        <a th:href="@{'/blog/edit/' + ${blog.id}}">edit your blog post</a>
        </div>
    </article>
</div>

<div name="parkBlogPost">
    <a th:href="@{'/blog/create/' + ${park.parkCode}}">
        <button>Submit a blog for this park?</button>
    </a>
</div>

</body>
</html>