<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Park View</h1>
<h2 th:text="${'Park Code: ' + park.parkCode}"></h2>
<h3 th:text="${'Name: ' + park.fullName}"></h3>

<div th:each="park : ${npsResponse.data}">
    <div th:if = "${park.parkCode == parkCode}">
        <h3 th:text="${'States: ' + park.states}">States Located</h3>
        <div th:each=" image : ${park.images[0]}">
            <img src="${image.url}" th:attr="src=${image.url},alt=${image.altText},title=${image.title}" width="900" height="600"/>
            <p th:text="'Credit: ' + ${image.credit}"></p>
        </div>

        <h4>Description:</h4>
        <p th:text="${park.description}">Description</p>
        <h4>Weather Info:</h4>
        <p th:text="${park.weatherInfo}">Weather Info</p>

        <div>
            <h3>Webcams Go Here:</h3>
            <!-- Should only pull Olympic Webcams until npsCamResponse adjusted-->
            <div th:each="webcam : ${npsCamResponse.data}">
                <div th:if = ${webcam.status.equals('Active')}>
                    <a th:href="@{${webcam.url}}" th:text="${webcam.title}"></a>
                    <div th:text="${webcam.status} + ' ' + '&#128994;'" >Webcam Status</div>
                    <div th:text="${webcam.description}">Webcam Description</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--User Functions Below This Line -->
<div th:each="comment : ${park.comments}">
    <p th:text="${comment.input} + ' By User: ' + ${comment.user.username}"></p>
    <div th:if="${comment.user.username == currentUser.username}">
        <a th:href="@{'/reviews/edit/' + ${comment.id}}">edit your blog post</a>
    </div>
</div>
<h2>Total review average</h2>
<p th:text="${starScore}"></p>
<p th:text="${status}"></p>

<div name="submitReview">
    <a th:href="@{'/reviews/submit/' + ${park.parkCode}}">Submit a review</a>
</div>

<div name="parkBlogView">
    <a th:href="@{'/blog/view/' + ${park.parkCode}}">go to park's blog page</a>
</div>

</body>
</html>