<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Park View</h1>
<p th:text="${'Park Code: ' + park.parkCode}"></p>
<p th:text="${'Name: ' + park.fullName}"></p>
    <ul th:each="comment : ${park.comments}">
        <li th:text="${comment.input} + ' By User: ' + ${comment.user.username}"></li>
        <div th:if="${comment.user.username == currentUser.username}">
            <a th:href="@{'/blog/edit/' + ${blog.id}}">edit your blog post</a>
        </div>
        </div>
    </ul>
<h2>Total review average</h2>
<p th:text="${starScore}"></p>
<p th:text="${status}"></p>

<div name="submitReview">
    <a th:href="@{'/reviews/submit/' + ${park.parkCode}}">Submit a review</a>
</div>

</body>
</html>