<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>National Park Alerts</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>

<header>
    <a th:href="@{/}"><button>🌲 Home</button></a>
</header>

<body class="container">

<h1>National Park Alerts:</h1>

<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>

<ul th:if="${alerts}" th:each="alert : ${alerts}">
    <article>
        <li>
            <strong><a th:href="@{${alert.url}}" th:text="${alert.parkName} + ' : ' + ${alert.title}"></a></strong>
            <p th:text="${alert.description}">Alert Description</p>
            <p th:text="'Category: ' + ${alert.category}">Category</p><br>
        </li>
    </article>
</ul>

</body>
</html>
