<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Parkd Explore</title>
</head>
<body>
<h1>Explore</h1>
<div name="search">
    <a th:href="@{/search}">Search for parks</a>
</div>
<div name="parkCard">
    <a th:href="@{/parkcarddemo}">Park Card Demo Path</a>
</div>

<div name="userTools">
    <nav th:replace="fragments :: page-header"></nav>
</div>

<!--TODO: This explore.html page will functionally replace the large "browsing" list of parks that currently resides on the index
    The index.html will functionally become what is currently named landing.html
    The home.html will be what a logged-in user is redirected to
-->

<div th:each="park : ${npsResponse.data}">
    <div th:if = "${park.designation.equals('National Park')}">
        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>
        <h1 th:text="${park.fullName}">Default Name</h1>
        <div th:each=" image : ${park.images[0]}">
            <img th:src="${image.url}" th:attr="src=${image.url},alt=${image.altText},title=${image.title}" width="400" height="200"/>
        </div>
        <p th:text="${park.description}"></p>
    </div>
</div>
</body>
</html>