<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div th:fragment="page-header" >
    <nav>
      <ul>
        <li><h1>Park'd</h1></li>
    <th:block th:if="${session} and ${session.isEmpty()}">
      <li><a th:href="@{/login}"><button class="secondary">Log In</button></a></li>
      <li><a th:href="@{/register}"><button>Sign Up</button></a></li>
    </th:block>
    <th:block th:unless="${session} and ${session.isEmpty()}">
      <li><a th:href="@{/logout}"><button class="secondary">Log Out</button></a></li>
      <li><a th:href="@{/profile}"><button>Profile</button></a></li>
    </th:block>
      </ul>
    </nav>
  </div>
</body>
</html>