<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Parkd Index</title>
</head>
    <body>
        <h1>Home Page</h1>

        <div name="search">
            <a th:href="@{/search}">Search for parks</a>
        </div>

        <!--TODO: DELETE PARKCARDDEMO PATH -->
        <div name="parkCard">
            <a th:href="@{/parkcarddemo}">Park Card Demo Path</a>
        </div>

        <div name="parkdUserSearch">
            <a th:href="@{/parkdusersearch}">Park Together!</a>
        </div>


        <div name="userTools">
            <p><a th:href="@{/alerts}">Alerts </a></p>
            <nav th:replace="fragments :: page-header"></nav>
        </div>

        <div th:each="park : ${npsResponse.data}">

            <div th:if = "${park.designation.equals('National Park')}">
                <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>

                <h1 th:text="${park.fullName}">Default Name</h1>

                <div th:each=" image : ${park.images[0]}">
                <img th:src="${image.url}" width="400" height="200"/>
            </div>

                <p th:text="${park.description}"></p>

            </div>
        </div>

    </body>
</html>