<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Parkd Landing</title>
</head>
<body>
<h1>Landing Page</h1>

<div name="userTools">
    <nav th:replace="fragments :: page-header"></nav>
</div>

<!--TODO: LANDING CONTENT GOES HERE -->

<!--Attempt at Encapsulating Each Park in a link to itself -->
<div th:each="park : ${shuffledNationalParks}">

    <div>
<!--        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>-->
        <a href th:href="@{'/parks/parkcard/' + ${park.parkCode}}">
        <div th:each="image : ${park.images[0]}">
            <img th:src="${image.url}" width="500" height="700"/>
        </div>
        </a>
        <h1 th:text="${park.fullName}">Default Name</h1>
    </div>

</div>

<!--
<div th:each="park : ${shuffledNationalParks}">
    <div>
        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>
        <h1 th:text="${park.fullName}">Default Name</h1>
        <div th:each="image : ${park.images[0]}">
            <img th:src="${image.url}" width="400" height="200"/>
        </div>
    </div>
</div>
-->

<!--<div th:each="park : ${npsResponse.data}">-->
<!--    <div th:if = "${park.designation.equals('National Park')}">-->
<!--        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>-->
<!--        <h1 th:text="${park.fullName}">Default Name</h1>-->
<!--        <div th:each=" image : ${park.images[0]}">-->
<!--            <img th:src="${image.url}" width="400" height="200"/>-->
<!--        </div>-->


</body>
</html>


<!--<div th:each="park : ${npsResponse.data}">-->
<!--    <div th:if = "${park.designation.equals('National Park')}">-->
<!--        <h1 th:text="${park.fullName}">Default Name</h1>-->
<!--        <h2 th:text="${park.parkCode}">Default Park Code</h2>-->
<!--        <div th:each=" image : ${park.images[0]}">-->
<!--            <img th:src="${image.url}" width="400" height="200"/>-->
<!--        </div>-->
<!--        <p th:text="${park.description}"></p>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:if = "${park.designation.equals('National Park')}"> Preferably filter before this point -->




