<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkd Landing</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>
<body>
<main class="container">

<div name="userTools">
    <nav th:replace="fragments :: page-header"></nav>
</div>

<h3>Witness the Parks!</h3>
    <div class="grid">
        <div th:each="park : ${shuffledNationalParks}">

            <div>
        <!--        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>-->
<!--                <a href th:href="@{'/parks/parkcard/' + ${park.parkCode}}">-->
                <div th:each="image : ${park.images[0]}">
                    <img th:src="${image.url}" width="800" height="500"/>
                </div>
<!--                </a>-->
                <h5 th:text="${park.name}">Default Name</h5>
            </div>
        </div>
    </div>

<!--
<div th:each="park : ${shuffledNationalParks}">
    <div>
        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>
        <h1 th:text="${park.fullName}">Default Name</h1>
        <div th:each="image : ${park.images[0]}">
            <img th:src="${image.url}" width="400" height="200"/>
        </div>
    </div>
</div>
-->

<!--<div th:each="park : ${npsResponse.data}">-->
<!--    <div th:if = "${park.designation.equals('National Park')}">-->
<!--        <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}" th:text="${park.fullName}"></a>-->
<!--        <h1 th:text="${park.fullName}">Default Name</h1>-->
<!--        <div th:each=" image : ${park.images[0]}">-->
<!--            <img th:src="${image.url}" width="400" height="200"/>-->
<!--        </div>-->

</main>
</body>
</html>


<!--<div th:each="park : ${npsResponse.data}">-->
<!--    <div th:if = "${park.designation.equals('National Park')}">-->
<!--        <h1 th:text="${park.fullName}">Default Name</h1>-->
<!--        <h2 th:text="${park.parkCode}">Default Park Code</h2>-->
<!--        <div th:each=" image : ${park.images[0]}">-->
<!--            <img th:src="${image.url}" width="400" height="200"/>-->
<!--        </div>-->
<!--        <p th:text="${park.description}"></p>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:if = "${park.designation.equals('National Park')}"> Preferably filter before this point -->




