<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>User Search</title>
</head>
<body>
<h1>Search for "Parkers"</h1>

<form th:action="@{/parkdusersearch}" method="get">
   <input type="text" name="searchTerm" placeholder="Search by username or email">
   <button type="submit">Search</button>
</form>

<!--<div th:if="${users == null || users.isEmpty()}">
   No users found
</div>-->

<table th:unless="${users == null || users.isEmpty()}">
   <thead>
       <tr>
           <th>Username</th>
       </tr>
   </thead>
   <tbody>
       <tr th:each="user : ${users}">
           <td><a th:href="@{/profile/{username}(username=${user.username})}" th:text="${user.username}"></a></td>
       </tr>
   </tbody>
</table>
<div th:if="${users == null || users.isEmpty()}">
   <p>No users found.</p>
</div>

</body>
</html>