<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Park'd Profile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

<header>
    <div class="profile">
        <img th:src="@{${'/Images/' + letter + '.png'}}"
             onerror="this.onerror=null; this.src='Images/None.png';"
             alt="Primary Image">
        <div class="dropdown">
            <div class="dropdown-header">
                <img th:src="@{${'/Images/' + letter + '.png'}}"
                     onerror="this.onerror=null; this.src='Images/None.png';"
                     alt="Primary Image">
                <div>
                    <h4 th:text="${user}" >John Doe</h4>
                    <p>Parks Enthusiast</p>
                  
              
                </div>
            </div>
            <a th:href="@{/}">Home Page</a>
            <a href="#">Settings</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</header>

<div class="profile-container">
    <div class="profile-header">
        <img th:src="@{${'/Images/' + letter + '.png'}}"
             onerror="this.onerror=null; this.src='Images/None.png';"
             alt="Primary Image">
        <div class="profile-info">
            <h1 th:text="${user}" >John Doe</h1>
            <p>Parks Enthusiast</p>
             <div>
                <p>Park Together with <span id="usernameHolder" th:text="${user}" data-username="${user}"></span>? Hit Follow!</p>
                <button id="followButton" type="button" onclick="toggleFollow()">Follow</button>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stat">
            <h2>12</h2>
            <p>Parks</p>
        </div>
        <div class="stat">
            <h2>10</h2>
            <p>Badges</p>
        </div>
        <div class="stat">
            <h2>5</h2>
            <p>Reviews</p>
        </div>
        <div class="stat">
            <h2>2</h2>
            <p>Followers</p>
        </div>
    </div>

    <div class="badges">
        <h2>Achievements</h2>
        <div class="badge-grid">
            <div class="badge">
                <img src="badge-placeholder.png" alt="Badge">
                <p>Beginner</p>
            </div>
            <div class="badge">
                <img src="badge-placeholder.png" alt="Badge">
                <p>Adventurer</p>
            </div>
        </div>
    </div>
</div>
<footer>
    &copy; 2025 Park'd. All rights reserved.
</footer>
<script src="/JS/follow.js"> </script>
</body>
</html>
