<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Search</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    >
</head>

<header>
    <a th:href="@{/}"><button>🌲 Home</button></a>
</header>

<body class="container">

<div class="container body-content">


    <form th:action="@{/search/results}" method = "post">
        <h2>Search By:</h2>


        <div>
            <label for="searchTerm">Name</label>
            <input type="search" name="searchTerm" id="searchTerm" />
        </div>

<!--        <div>-->
<!--            <label for="searchState">State</label>-->
<!--            <select  name="searchState" id="searchState">-->
<!--                <option value=""></option>-->
<!--                <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>-->
<!--            </select>-->
<!--        </div>-->

        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

    <div th:each="park : ${parks}">
        <div th:if="${park.designation == 'National Park' or park.designation == 'National Parks' or park.designation == 'National Park & Preserve' or park.designation == 'National and State Parks' or park.parkCode == 'npsa'}">
            <article>
                <a th:href="@{'/parks/parkcard/' + ${park.parkCode}}">
                    <h1 th:text="${park.fullName}" style="display:block; margin: 3px; text-align: center;">Default Name</h1>
                        <div th:each=" image : ${park.images[0]}">
                            <img th:src="${image.url}" width="400" height="200" style="display: block; margin: auto; border: 1px solid black;"/>
                        </div>
                </a>

                <h3 th:text="${'States: ' + park.states}" style="display: block; margin: 3px; text-align: center;"></h3>
            </article>
        </div>


</div>
</div>
</body>
</html>